# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user
dive_stats_summary.RData
Dive_par_plots.pdf
# Ignore PDF files
*.pdf
mass_at_first_cap_01.png
*.png
(TomEvans-XPS13's conflicted copy 2016-03-31).RData
(TomEvans-XPS13's conflicted copy 2016-03-31).Rhistory
body_weight (TomEvans-XPS13's conflicted copy 2016-03-31).R
(TomEvans-XPS13's conflicted copy 2016-03-31).RData
(TomEvans-XPS13's conflicted copy 2016-03-31).Rhistory
*.svg
change_cort_date.svg
change_logcort_date.svg
change_mass_date.svg
(TomEvans-XPS13's conflicted copy 2016-03-31).RData
(TomEvans-XPS13's conflicted copy 2016-03-31).Rhistory
weight_cort_cap_1.csv
(TomEvans-XPS13's conflicted copy 2016-03-31).RData
(TomEvans-XPS13's conflicted copy 2016-03-31).Rhistory
all_caps_weight_cort.csv
deployments_mass_calc.RData
deployments_mass_calc.csv
deployments_mass_calc_cort.RData
deployments_mass_calc_cort.csv
(TomEvans-XPS13's conflicted copy 2016-03-31).RData
 (TomEvans-XPS13's conflicted copy 2016-03-31).Rhistory
